$green-text:        #66cc00;
$hover-text:        #D35D6E;
$selected-text:     white;
$font-family:       "Ubuntu Nerd Font";
$font-size:         20px;
$background-color:  rgba(#333333, 0.8);
$green-border:      rgba(#006633, 0.9);

* {
  all: unset;
}

//Global Styles
.topbar {
  background-color: $background-color;
  border-color:     $green-border;
  border-radius:    0;
  border-style:     solid;
  border-width:     0;
  color:            $green-text;
  font-family:      $font-family;
  font-size:        $font-size;
  padding:          10px;
  margin:           0;
}

.calendar {
  background-color: $background-color;
  border-color:     $green-border;
  border-radius:    10px;
  border-style:     solid;
  border-width:     1px;
  color:            $green-text;
  font-family:      $font-family;
  font-size:        $font-size;
  padding:          10px;
}

.clock {
  font-weight:      bold;
}

.workspaces {
  background-color: $background-color;
}

.workspaces box {
  border-color: #999999;
  border-radius: 5px;
  border-style: none;
  border-width: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.workspaces box.active {
  border-style: solid;
  color: $selected-text;
  font-weight: bold;
}

button:hover {
  color: $hover-text;
  font-weight: bold;
}

.shutdown-button {
  font-size: 1.6em
}

.volume-button {
  font-size: 1.6em
}

slider {
  all:              unset;
  color:            #ffd5cd;
}

scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius:    2px;
  min-height:       8px;
  min-width:        80px;
  margin-left:      10px;
  margin-right:     20px;
}

scale trough highlight {
  all:              unset;
  background-color: $green-text;
  border-radius:    10px;
}


.system-window {
  background-color: $background-color;
  border-color:     $green-border;
  border-radius:    10px;
  border-style:     solid;
  border-width:     1px 0 1px 1px;
  color:            $green-text;
  font-family:      $font-family;
  font-size:        $font-size;
  padding:          10px;
}

.label-ram {
  font-size: large;
}

.system box {
  margin: 5px;
}

.heading {
  font-size: 1.2em;
  font-weight: bold;
}

.info-value {
  min-width: 5em;
}

.info-graph {
  color: #cccccc;
  border: 1px solid white;
  min-width: 100px;
}

.icon-module__icon {
  font-size: 1.5em;
}

.icon-module__count {
  min-width: 2em;
  font-size: 1em;
  font-weight: bold;
  color: white;
}
