[user]
	name = Gunnar Bastkowski
	email = gunnar.bastkowski@mobimeo.com
	signingkey = D97D98E973249CDC50C02CB2C2D116E278472281
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
[merge]
	conflictstyle = diff3
[push]
	followTags = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[github]
	user = gbastkowski
[advice]
	detachedHead = false
