[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git2@github.com:digitalstep/oh-my-zsh.git
[submodule "spacemacs"]
	path = spacemacs
	url = git@github.com:digitalstep/spacemacs.git
[submodule "sbt"]
	path = sbt
	url = git@github.com:digitalstep/dotfiles-sbt.git
