[submodule "oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:gbastkowski/oh-my-zsh.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = git@github.com:gbastkowski/chemacs2.git
[submodule "emacs/.emacs.doom"]
	path = emacs/.emacs.doom
	url = git@github.com:gbastkowski/doomemacs.git
[submodule "ista"]
	path = ista
	url = git@github.com:gbastkowski/ista-dotfiles.git
