.shutdown-icon {
  font-size:        2.5em;
  font-weight:      bold;
}

.shutdown-text {
  color:            $green-text;
  font-size:        1.2em;
  font-weight:      bold;
}

.confirm-question {
  color:            $green-text;
  font-size:        2em;
}

button.confirm-shutdown {
  border-style:     solid;
  color:            $selected-text;
  font-size:        2em;
}

button.confirm-shutdown:hover {
  color: $hover-text;
  font-weight: normal;
}
