ACTION=="add",    SUBSYSTEMS=="input", SUBSYSTEM=="input", ENV{ID_VENDOR_ID}=="1050", ENV{ID_MODEL_ID}=="0407", RUN+="/usr/local/bin/yubikey.sh add"
ACTION=="remove", SUBSYSTEMS=="input", SUBSYSTEM=="input", ENV{ID_VENDOR_ID}=="1050", ENV{ID_MODEL_ID}=="0407", RUN+="/usr/local/bin/yubikey.sh remove"

